@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    font-family: 'Montserrat', 'Times New Roman', Times, serif;
}


div.form-container {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    padding: 2em;
    background-color: #fff;
    box-shadow: 2px 2px 5px #aaa
}

div.input {
    display: block;
    margin: 2em;
}

input {
    padding: 5px;
}

div.input label {
    display: block;
    margin-bottom: 5px;
}